.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
}
.logout {
    padding: 15px 20px;
    background-color: black;
    margin-right: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header p {
    margin-left: auto;
}
