.container {
    padding: 20px;
}
.header {
    margin-bottom: 20px;
}

.header h1 {
    display: inline-block;
    margin-right:350px;
}

.logout {
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}