.container{
  padding: 20px;
  /* border: 2px solid rgb(238, 238, 238); */
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-root {
  height: 40px;
}

.input-label {
  font-size: 13px !important;
  top:-5px !important;
}

.MuiInputLabel-root.Mui-focused.MuiInputLabel-shrink {
  color: #000 !important;
  font-size: 18px !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #000 !important;
}

.alignment{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}